body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #1bcfc6e1;
    margin: o;
    padding: 0;
}

.contaiter {
    max-width: 500px;
    margin: 50px auto;
    background: #000000;
    padding: 20px;
    border-radius: 10p;
    box-shadow: 0 0 10px rgb(248, 0, 0);
}

button {
    margin: 10px 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

input {
    padding: 10px;
    font-size: 16px;
    margin-top: 10px;
    width: 80%;
}